* {
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#grid-container {
    border: solid black 2px;
    display: flex;
    width: 700px;
    height: 700px;
}
.item-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.item {
    flex: 1;
    border: solid black 1px;
}

